@-webkit-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
html {
    text-size-adjust: 100%;
    font-family: sans-serif;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}
input[type='search'] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: 700;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
#survey-container {
    position: relative;
}
#survey-container:before {
    -webkit-animation: spin 2s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
    animation: spin 2s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
    border: 3px solid #3498db;
    border-bottom-color: #fff;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 0;
    left: 0;
    margin: 20px auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    width: 50px;
}
#survey-container.survey-loading .survey__content {
    height: 0;
    opacity: 0;
}
#survey-container.survey-loading:before {
    height: 50px;
    opacity: 1;
    position: relative;
}
#survey-container #recaptcha-container {
    background: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#survey-container #recaptcha-container > div {
    left: 50%;
    position: relative;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#survey-container form.leadgenform label {
    margin-bottom: 15px;
}
#survey-container .react-form {
    margin: 20px auto;
    max-width: 300px;
    text-align: left;
}
#survey-container .react-form .leadgenform__phone-label {
    font-size: 12px;
}
#survey-container .react-form .leadgenform__button {
    font-size: 16px;
    line-height: 1.2;
}
#survey-container .react-form #recaptcha-container {
    display: none;
}
.survey__content {
    color: #fff;
    font-size: 2rem;
    min-height: 50px;
    opacity: 1;
    padding: 2rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.survey__heading {
    color: #67a130;
    font-weight: 700;
    margin-bottom: 20px;
}
.survey__question-text {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}
.survey__options-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-pack: center;
    -ms-flex-line-pack: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 1rem;
}
.survey__options-wrapper,
.survey__options-wrapper.thank_you .survey__button {
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.survey__options-wrapper.thank_you .survey__button {
    -ms-flex-pack: center;
    min-height: 60px !important;
    min-width: 294px !important;
}
.survey__button {
    -webkit-box-flex: 0;
    background: #f7f7f7;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0 0.1rem #67a130;
    cursor: pointer;
    -webkit-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.survey__button:hover {
    box-shadow: inset 0 0 0 0.3rem #67a130;
}
.survey__button:active,
.survey__button:only-child {
    background-color: #67a130;
    color: #fff;
}
.survey__button:only-child:active,
.survey__button:only-child:hover {
    -webkit-filter: saturate(2);
    filter: saturate(2);
}
.survey__back-button {
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0 0.1rem gray;
    color: #222;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 1rem 3rem;
}
.survey__back-button:hover {
    box-shadow: inset 0 0 0 0.3rem gray;
}
.survey__email-form {
    margin-top: 20px;
    position: relative;
}
.survey__email-form.loading .email-form__button,
.survey__email-form.loading .email-form__input {
    opacity: 0.5;
}
.survey__email-form.loading:before {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.survey__email-form.loading:after {
    -webkit-animation: spin 2s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
    animation: spin 2s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
    border: 3px solid #3498db;
    border-bottom-color: transparent;
    border-radius: 50%;
    content: '';
    display: block;
    height: 30px;
    left: 50%;
    position: absolute;
    top: -webkit-calc(50% - 15px);
    top: calc(50% - 15px);
    width: 30px;
    z-index: 3;
}
.survey__email-form .email-form__input {
    border: 1px solid #d8d9db;
    border-radius: 4px;
    color: #1a2730;
    display: block;
    margin: 0 auto 20px;
    max-width: 300px;
    padding: 10px;
    width: 100%;
}
.survey__email-form .email-form__button {
    background: rgba(0, 232, 113, 0.1);
    border: 0.2rem solid #00e871;
    border-radius: 4px;
    color: #00e871;
    cursor: pointer;
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0 auto 20px;
    max-width: 300px;
    padding: 2rem 1rem;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    width: 100%;
}
.survey__email-form .email-form__button:hover {
    background: #00e871;
    color: #444;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}
@media screen and (max-width: 500px) {
    .survey__options-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .survey__button {
        margin: 0.5rem 0;
        width: 100%;
    }
}
.survey__content {
    position: relative;
}
.survey__loading-screen {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    align-items: center;
    background: #fff !important;
    color: #000 !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.survey__loading-screen.alternate {
    background: 0 0;
    position: relative;
}
.loading-screen__body {
    width: 100%;
}
.loading-screen__title-wrapper {
    height: 30px;
    position: relative;
    width: 100%;
}
.loading-screen__title {
    font-weight: 700;
    margin-bottom: 20px;
}
.loading-screen__content,
.loading-screen__text_dynamic {
    margin-bottom: 20px;
}
.loading-screen__progressbar {
    display: block;
    height: 4px;
    margin: 20px auto;
    overflow: hidden;
    width: 100%;
}
.loading-screen__progressbar:before {
    -webkit-animation: survey-progress 2s ease forwards;
    animation: survey-progress 2s ease forwards;
    background: #29b765;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
}
.loading-screen__progressbar.alternate:before,
.loading-screen__progressbar .loading-screen__progressbar-line {
    display: none;
}
.loading-screen__progressbar.alternate .loading-screen__progressbar-line {
    background: #29b765;
    display: block;
    height: 100%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    width: 100%;
}
@-webkit-keyframes survey-progress {
    0% {
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes survey-progress {
    0% {
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
.opacity-switch-enter,
.opacity-switch-exit {
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.opacity-switch-enter,
.opacity-switch-exit-active {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}
.opacity-switch-enter-active,
.opacity-switch-exit {
    opacity: 1;
    position: relative;
}
.fade-enter,
.fade-exit {
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.fade-enter,
.fade-exit-active {
    opacity: 0;
}
.fade-enter-active,
.fade-exit {
    opacity: 1;
}
.custom-alert {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.custom-alert__body {
    -webkit-animation: appear 0.3s normal forwards;
    animation: appear 0.3s normal forwards;
    background: #6a8092;
    border-radius: 4px;
    color: #fff;
    font-size: 1.5rem;
    max-width: 1000px;
    opacity: 0;
    padding: 1em 2em;
    position: relative;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    white-space: normal;
    width: 100%;
    word-break: break-word;
    z-index: 11;
}
.custom-alert.info .custom-alert__body {
    background: #3498db;
}
.custom-alert.danger .custom-alert__body {
    background: #e74c3c;
}
.custom-alert.success .custom-alert__body {
    background: #29b765;
}
.custom-alert.warning .custom-alert__body {
    background: #ffc82c;
    color: #1a2730;
}
.custom-alert__title p {
    line-height: 1.3em;
    text-align: left;
}
.custom-alert__button {
    background: #ed7119;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    line-height: 1.5em;
    padding: 1rem 2rem;
}
.custom-alert__close {
    cursor: pointer;
    font-size: 25px;
    line-height: 15px;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.sweep-alert {
    background: #fff;
    box-shadow: 0 0 37px -3px rgba(0, 0, 0, 0.54);
    color: #222;
}
#form-wrapper .leadgenform__loader,
.leadgenform-twostep.react-form .leadgenform__loader,
.leadgenform.react-form .leadgenform__loader {
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    z-index: 11;
}
#form-wrapper .leadgenform__loader .loader__spinner,
.leadgenform-twostep.react-form .leadgenform__loader .loader__spinner,
.leadgenform.react-form .leadgenform__loader .loader__spinner {
    -webkit-animation: rolling 1s linear infinite;
    animation: rolling 1s linear infinite;
    border: 4px solid #000;
    border-radius: 50%;
    border-top-color: transparent;
    height: 64px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 64px;
}
#form-wrapper .leadgenform__loader .loader__timer,
.leadgenform-twostep.react-form .leadgenform__loader .loader__timer,
.leadgenform.react-form .leadgenform__loader .loader__timer {
    font-size: 30px;
    font-weight: 700;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
@-webkit-keyframes rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(1turn);
        transform: translate(-50%, -50%) rotate(1turn);
    }
}
@keyframes rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(1turn);
        transform: translate(-50%, -50%) rotate(1turn);
    }
}
.rain {
    -webkit-animation: snow 13s linear infinite;
    animation: snow 13s linear infinite;
    background-image: url(../img/rain/dollars-1.png), url(../img/rain/dollars-2.png), url(../img/rain/dollars-3.png);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    width: 100%;
    z-index: 1;
}
@-webkit-keyframes snow {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }
    50% {
        background-position: 500px 500px, 100px 400px, -200px 300px;
    }
    to {
        background-position: 500px 1000px, 200px 800px, -200px 600px;
    }
}
@keyframes snow {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }
    50% {
        background-position: 500px 500px, 100px 400px, -200px 300px;
    }
    to {
        background-position: 500px 1000px, 200px 800px, -200px 600px;
    }
}
@keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
body.rtl {
    direction: rtl;
}
.text--info {
    color: #3498db;
}
.text--success {
    color: #29b765;
}
.text--warning {
    color: #ffc82c;
}
.text--danger {
    color: #e74c3c;
}
.text--steel {
    color: #33424d;
}
.text--black {
    color: #1a2730;
}
.text--silver {
    color: #6a8092;
}
.text--slate {
    color: #26343e;
}
.blink {
    -webkit-animation: blink 1.5s ease-in-out infinite;
    animation: blink 1.5s ease-in-out infinite;
}
.m-0 {
    margin: 0 !important;
}
.mt-0 {
    margin-top: 0 !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.ml-0 {
    margin-left: 0 !important;
}
.mr-0 {
    margin-right: 0 !important;
}
.m-1 {
    margin: 10px !important;
}
.mt-1 {
    margin-top: 10px !important;
}
.mb-1 {
    margin-bottom: 10px !important;
}
.ml-1 {
    margin-left: 10px !important;
}
.mr-1 {
    margin-right: 10px !important;
}
.m-2 {
    margin: 20px !important;
}
.mt-2 {
    margin-top: 20px !important;
}
.mb-2 {
    margin-bottom: 20px !important;
}
.ml-2 {
    margin-left: 20px !important;
}
.mr-2 {
    margin-right: 20px !important;
}
.m-3 {
    margin: 30px !important;
}
.mt-3 {
    margin-top: 30px !important;
}
.mb-3 {
    margin-bottom: 30px !important;
}
.ml-3 {
    margin-left: 30px !important;
}
.mr-3 {
    margin-right: 30px !important;
}
.m-4 {
    margin: 60px !important;
}
.mt-4 {
    margin-top: 60px !important;
}
.mb-4 {
    margin-bottom: 60px !important;
}
.ml-4 {
    margin-left: 60px !important;
}
.mr-4 {
    margin-right: 60px !important;
}
.m-5 {
    margin: 90px !important;
}
.mt-5 {
    margin-top: 90px !important;
}
.mb-5 {
    margin-bottom: 90px !important;
}
.ml-5 {
    margin-left: 90px !important;
}
.mr-5 {
    margin-right: 90px !important;
}
.p-0 {
    padding: 0 !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.p-1 {
    padding: 10px !important;
}
.pt-1 {
    padding-top: 10px !important;
}
.pb-1 {
    padding-bottom: 10px !important;
}
.pl-1 {
    padding-left: 10px !important;
}
.pr-1 {
    padding-right: 10px !important;
}
.p-2 {
    padding: 20px !important;
}
.pt-2 {
    padding-top: 20px !important;
}
.pb-2 {
    padding-bottom: 20px !important;
}
.pl-2 {
    padding-left: 20px !important;
}
.pr-2 {
    padding-right: 20px !important;
}
.p-3 {
    padding: 30px !important;
}
.pt-3 {
    padding-top: 30px !important;
}
.pb-3 {
    padding-bottom: 30px !important;
}
.pl-3 {
    padding-left: 30px !important;
}
.pr-3 {
    padding-right: 30px !important;
}
.p-4 {
    padding: 60px !important;
}
.pt-4 {
    padding-top: 60px !important;
}
.pb-4 {
    padding-bottom: 60px !important;
}
.pl-4 {
    padding-left: 60px !important;
}
.pr-4 {
    padding-right: 60px !important;
}
.p-5 {
    padding: 90px !important;
}
.pt-5 {
    padding-top: 90px !important;
}
.pb-5 {
    padding-bottom: 90px !important;
}
.pl-5 {
    padding-left: 90px !important;
}
.pr-5 {
    padding-right: 90px !important;
}
.d-block {
    display: block;
}
.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.d-flex > aside,
.d-flex > div,
.d-flex > em,
.d-flex > footer,
.d-flex > header,
.d-flex > main,
.d-flex > nav,
.d-flex > ol,
.d-flex > p,
.d-flex > section,
.d-flex > span,
.d-flex > strong,
.d-flex > table,
.d-flex > ul {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.d-inline-block {
    display: inline-block;
}
.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.flex-column,
.flex-row {
    -webkit-box-direction: normal;
}
.flex-column {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.justify-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.justify-around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.w-1-1 {
    width: 100%;
}
.w-1-2 {
    width: 50%;
}
.w-1-3 {
    width: 33.33%;
}
.w-1-4 {
    width: 25%;
}
@media (max-width: 500px) {
    .w-1-1-mob {
        width: 100%;
    }
    .w-1-2-mob {
        width: 50%;
    }
    .w-1-3-mob {
        width: 33.33%;
    }
    .w-1-4-mob {
        width: 25%;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.05;
    }
    to {
        opacity: 1;
    }
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.05;
    }
    to {
        opacity: 1;
    }
}
.cookie-consent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background-color: #222121;
    border-radius: 0.5rem;
    bottom: -3000px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 25%;
    padding: 1.5rem;
    position: fixed;
    right: 1rem;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 100%;
    z-index: 9999;
}
.cookie-consent--show {
    bottom: 1rem;
}
@media screen and (max-width: 750px) {
    .cookie-consent--show {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        border-radius: 0;
        bottom: 0;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        max-width: 100%;
        right: 0;
    }
}
.cookie-consent__text {
    color: #acacac;
}
.cookie-consent__text p {
    font-size: 1.5rem;
    margin: 0;
    text-align: justify;
}
.cookie-consent__text a {
    text-decoration: underline;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    white-space: nowrap;
}
.cookie-consent__text a:hover {
    border-bottom: 0;
    text-decoration: none;
}
.cookie-consent__btn {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    max-width: 100px;
    padding-top: 1.5rem;
    width: 90%;
}
@media screen and (max-width: 750px) {
    .cookie-consent__btn {
        padding-left: 1.5rem;
        padding-top: 0;
    }
}
.cookie-consent__btn div {
    background-color: #0095f6;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
    padding: 1rem;
    text-align: center;
    text-decoration: underline;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    white-space: nowrap;
    width: 100%;
}
@media screen and (max-width: 750px) {
    .cookie-consent__btn div {
        padding: 1rem 0;
    }
}
.offerwall__itm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    border-radius: 0.5rem;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 100%;
}
.offerwall__img {
    width: 10%;
}
.offerwall__img img {
    width: 100%;
}
.offerwall__desc {
    text-align: left;
    width: 60%;
}
.offerwall__desc h4 {
    font-size: 3rem;
    line-height: 1;
    margin: 0 0 0.5rem;
    padding: 0 1rem;
}
@media screen and (max-width: 750px) {
    .offerwall__desc h4 {
        font-size: 2.2rem;
    }
}
.offerwall__desc p {
    font-size: 2rem;
    line-height: 1.3em;
    padding: 0 1rem;
}
@media screen and (max-width: 750px) {
    .offerwall__desc p {
        font-size: 1.5rem;
    }
}
.offerwall__btn {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 1rem;
    max-width: 220px;
    padding: 2.5rem 0.5rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 30%;
}

.survey_top_bar {
    width: 100%;
    height: 73px;
    background: white;
    padding: 12px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.survey_top_bar_1 {
    width: 100%;
    height: 72px;
    background: white;
    padding: 16px 83px 16px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.survey_top_bar .icon_container,
.survey_top_bar_1 .icon_container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.survey_top_bar .icon_container p,
.survey_top_bar_1 .icon_container p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 68px;
    color: black;
}

.survey_top_bar button,
.survey_top_bar_1 button {
    width: 122px;
    height: 47px;
    background: white;
    border: 1px solid black;
    border-radius: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #0e0e11;
}

.survey_top_bar button:hover,
.survey_top_bar button:active,
.survey_top_bar button:focus,
.survey_top_bar_1 button:hover,
.survey_top_bar_1 button:active,
.survey_top_bar_1 button:focus {
    border: none;
    color: white;
    background: #40a6b5;
}

@media (max-width: 768px) {
    .survey_top_bar {
        padding: 18px 16px 18px 32px;
        height: 68px;
    }

    .survey_top_bar_1 {
        height: 80px;
        padding: 20px 16px 20px 32px;
    }

    .survey_top_bar .icon_container img {
        height: 18px;
    }

    .survey_top_bar_1 .icon_container img {
        width: 32px;
        height: 32px;
    }

    .survey_top_bar .icon_container p {
        font-size: 18px;
        line-height: 26px;
    }

    .survey_top_bar_1 .icon_container p {
        font-size: 20px;
    }

    .survey_top_bar button,
    .survey_top_bar_1 button {
        width: 82px;
        height: 32px;
        font-size: 13px;
    }
}

.blue_bar {
    width: 100%;
    height: 556px;
    background: #40a6b5;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    gap: 24px;
}

.blue_bar p {
    font-family: 'Inter';
    font-style: normal;
    color: white;
}

.blue_bar p:first-child {
    font-weight: 600;
    font-size: 56px;
    line-height: 68px;
    letter-spacing: -1.8px;
    width: 448px;
}

.blue_bar p:nth-child(2) {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 506px;
}

.blue_bar img {
    position: relative;
    left: -280px;
    top: -220px;
}

@media (max-width: 768px) {
    .blue_bar {
        height: 391px;
        padding: 32px;
        gap: 12px;
    }

    .blue_bar p:first-child {
        width: 247px;
        font-weight: 700;
        font-size: 32px;
        line-height: 34px;
        letter-spacing: -0.36px;
    }

    .blue_bar p:nth-child(2) {
        width: 326px;
        font-size: 16px;
        line-height: 24px;
    }

    .blue_bar img {
        width: 0;
        height: 0;
    }
}

.survey_container {
    width: 100%;
    background: rgba(0.96, 0.96, 0.96, 0.02);
    padding: 40px 34px;
}

@media (max-width: 768px) {
    .survey_container {
        padding: 24px 12px;
    }
}

.survey_title_bar {
    width: 100%;
    height: 700px;
    background: linear-gradient(218.59deg, #dbf295 -10.93%, rgba(219, 232, 185, 0.21) 36.51%, rgba(220, 223, 183, 0.31) 84.6%, #e1dab9 105.08%);
    padding: 76px 46px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: left;
}

.survey_title_bar .first_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    color: #323232;
    width: 757px;
}

.survey_title_bar .first_title span:first-child {
    background: url('../images/light_red_plate.png') left bottom no-repeat;
    background-size: 284px;
    background-position-y: 25px;
    font-style: italic;
    padding-right: 16px;
}

.survey_title_bar .first_title span:last-child {
    background: url('../images/light_green_plate.png') left bottom no-repeat;
    background-size: 200px 58px;
    background-position-y: 21px;
    font-style: italic;
    padding: 0 24px 0 4px;
}

.survey_title_bar p:nth-child(2) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #585757;
    width: 554px;
}

.question_center_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 200px;
}

.question_center_bar_1 {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    top: -72px;
    right: 32px;
}

.question_container {
    border-radius: 20px;
    background: white;
    box-shadow: 4px 4px 34px 2px rgba(0, 0, 0, 0.1);
    width: 623px;
    height: 827px;
}

.question_center_bar_1 .trade_mark_section {
    width: 100%;
    height: 184px;
    background: #f7f1cb;
    display: flex;
    flex-direction: column;
    padding: 42px 40px 32px;
    gap: 32px;
    border-radius: 20px 20px 0 0;
}

.question_center_bar_1 .trade_mark_section p:first-child {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.14px;
    color: #323232;
    text-align: left;
}

.question_center_bar_1 .trade_mark_section .trade_mark_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question_center_bar_1 .question_section_1 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    padding: 48px 92px;
}

.question_center_bar_1 .question_section_1 p:first-child {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.36px;
    color: #0e0e11;
}

.question_center_bar_1 .question_section_1 progress {
    width: 100%;
    height: 6px;
}

.question_center_bar_1 .question_section_1 p:nth-child(3) {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #0e0e11;
    text-align: left;
    width: 350px;
    height: 72px;
}

.question_center_bar_1 .question_section_1 button {
    width: 100%;
    height: 68px;
    border-radius: 12px;
    border: 2px solid #e8e8e8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #0e0e11;
}

.question_center_bar_1 .question_section_1 button:active,
.question_center_bar_1 .question_section_1 button:focus,
.question_center_bar_1 .question_section_1 button:hover {
    border: none;
    background: #005cff;
    color: white;
}

.question_section {
    width: 872px;
    background: white;
    box-shadow: 4px 4px 34px 2px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 44px 135px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#question_process {
    display: none;
    height: 425px;
    gap: 0;
    justify-content: space-around;
}

.question_process_section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: left;
}

.question_process_section p,
.question_process_section p:first-child {
    font-family: 'Inter';
    font-style: normal;
    color: #0e0e11;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.question_process_section .question_process_container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.question_process_section .question_process_container .question_process_item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.question_process_section .question_process_container .question_process_item img {
    width: 24px;
}

.question_section p {
    font-family: 'Inter';
    font-style: normal;
    color: #0e0e11;
}

.question_section p:first-child {
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: -0.36px;
}

.question_section .survey_quiz_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 37px;
}

.question_section .survey_quiz_container .progress_bar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 13px;
}

.question_section .survey_quiz_container .progress_bar progress {
    flex: 1;
}

.question_section .survey_quiz_container .progress_bar p {
    width: 42px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: black;
}

.question_section .survey_quiz_container #survey_quiz_text {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
}

.question_section .survey_quiz_container img {
    width: 357px;
}

.question_section .survey_quiz_container .survey_quiz_action {
    display: flex;
    align-items: center;
    gap: 20px;
}

.question_section .survey_quiz_container .survey_quiz_action button {
    background: white;
    width: 294px;
    height: 68px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #0e0e11;
}

.question_section .survey_quiz_container .survey_quiz_action button:active,
.question_section .survey_quiz_container .survey_quiz_action button:focus,
.question_section .survey_quiz_container .survey_quiz_action button:hover {
    background: #40a6b5;
    border: none;
    color: white;
}

@media (max-width: 768px) {
    .survey_title_bar {
        height: 874px;
        padding: 62px 20px;
    }

    .survey_title_bar .first_title {
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.0036em;
        width: unset;
    }

    .survey_title_bar .first_title span:first-child {
        background-size: 144px;
        background-position-y: 12px;
    }

    .survey_title_bar .first_title span:last-child {
        background: none;
    }

    .survey_title_bar p:nth-child(2) {
        line-height: 28px;
        width: unset;
    }

    .question_center_bar_1 {
        top: 64px;
        right: 0;
        justify-content: center;
        width: 100%;
    }

    .question_container {
        height: 679px;
        width: 100%;
    }

    .question_center_bar_1 .trade_mark_section {
        height: 160px;
        padding: 40px 16px 16px;
    }

    .question_center_bar_1 .trade_mark_section p:first-child {
        color: black;
    }

    .question_center_bar_1 .trade_mark_section .trade_mark_container img {
        width: 25%;
    }

    .question_center_bar_1 .question_section_1 {
        padding: 32px 16px;
        gap: 24px;
    }

    .question_center_bar_1 .question_section_1 p:first-child {
        line-height: 32px;
        text-align: center;
    }

    .question_center_bar_1 .question_section_1 p:nth-child(3) {
        font-size: 16px;
        line-height: 22px;
        width: unset;
    }

    .question_center_bar {
        bottom: 186px;
    }

    .question_section {
        width: 350px;
        padding: 32px 20px;
        gap: 12px;
    }

    .question_section p:first-child {
        font-size: 18px;
        line-height: 32px;
    }

    .question_section .survey_quiz_container .progress_bar p {
        width: 32px;
        font-size: 12px;
        line-height: 18px;
    }

    .question_section .survey_quiz_container #survey_quiz_text {
        font-size: 16px;
    }

    .question_section .survey_quiz_container img {
        width: 310px;
    }

    .question_section .survey_quiz_container .survey_quiz_action {
        flex-direction: column;
        align-items: unset;
        gap: 24px;
    }

    .question_section .survey_quiz_container .survey_quiz_action button {
        width: 310px;
        height: 68px;
        border: 2px solid #e8e8e8;
        font-weight: 500;
    }
}

.device_info_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    padding: 48px 48px 80px;
    margin-top: -100px;
}

.device_info_section p {
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
}

.device_info_section .title_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.device_info_section .title_section p:first-child {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.44px;
    color: black;
}

.device_info_section .title_section p:last-child {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: black;
}

.device_info_section .title_section p:last-child span {
    font-weight: 600;
    color: #ff3535;
}

.device_info_section .status_list {
    width: 1028px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.device_info_section .status_list .top_red_bar {
    width: 100%;
    height: 12px;
    background: #ff3535;
    border-radius: 16px 16px 0 0;
}

.device_info_section .status_list ul {
    padding: 0px 64px 47px;
    width: 100%;
}

.device_info_section .status_list ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 0 7px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.device_info_section .status_list ul li p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    color: #ff3535;
    text-align: left;
}

@media (max-width: 768px) {
    .device_info_section {
        margin-top: -146px;
        padding: 24px;
        gap: 24px;
    }

    .device_info_section .title_section {
        gap: 4px;
    }

    .device_info_section .title_section p:first-child {
        font-size: 24px;
    }

    .device_info_section .title_section p:last-child {
        font-size: 16px;
    }

    .device_info_section .status_list {
        width: 100%;
        border-radius: 12px;
    }

    .device_info_section .status_list .top_red_bar {
        height: 6px;
        border-radius: 12px 12px 0 0;
    }

    .device_info_section .status_list ul {
        padding: 16px 16px 32px;
    }

    .device_info_section .status_list ul li {
        padding: 16px 0 9px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    .device_info_section .status_list ul li p {
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
    }

    .device_info_section .status_list ul li img {
        height: 14px;
    }
}

.survey_users_feedback_horizontal_bar {
    display: flex;
    flex-direction: column;
    padding: 83px 64px 90px;
}

.survey_users_feedback_horizontal_bar_1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 40px auto 68px 80px;
    width: 563px;
}

.survey_users_feedback_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 40px;
    color: black;
    text-align: left;
    margin-bottom: 32px;
}

.survey_users_feedback_title_1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #0e0e11;
    text-align: left;
    width: 300px;
    margin-bottom: 24px;
}

.survey_users_feedback_group {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 56px;
}

.survey_users_feedback_group_1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 56px;
}

.survey_users_feedback_group .survey_users_feedback_item {
    width: 100%;
    height: 180px;
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.survey_users_feedback_group .survey_users_feedback_item:hover {
    background: #f4f4f4;
}

.survey_users_feedback_group .survey_users_feedback_item p {
    font-family: 'Inter';
    font-style: normal;
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_content {
    display: flex;
    gap: 19px;
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_avatar {
    width: 75px;
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_avatar img:first-child {
    width: 75px;
    height: 75px;
    border-radius: 50px;
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_avatar img:last-child {
    position: relative;
    left: 53px;
    top: -21px;
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback {
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback .name_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback .name_title p {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: black;
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback .name_title .feedback_status_mobile {
    display: none;
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback p:last-child {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.008em;
    color: rgba(0, 0, 0, 0.5);
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback .rate_section {
    display: flex;
    align-items: center;
    gap: 7px;
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback .rate_section p {
    font-weight: 500;
    font-size: 16px;
    line-height: 0px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.8);
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback .rate_section .rate_stars {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 3px;
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_status_pc {
    height: fit-content;
    padding-top: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.survey_users_feedback_group .survey_users_feedback_item .feedback_status_pc p {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    color: black;
}

.survey_users_feedback_group_1 .survey_users_feedback_item_1 {
    display: flex;
    gap: 16px;
}

.survey_users_feedback_group_1 .survey_users_feedback_item_1 .user_avatar_1 {
    width: 88px;
    height: 88px;
}

.survey_users_feedback_group_1 .survey_users_feedback_item_1 .user_avatar_1 img {
    width: 88px;
    border-radius: 12px;
}

.survey_users_feedback_group_1 .survey_users_feedback_item_1 .user_feedback_1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.survey_users_feedback_group_1 .survey_users_feedback_item_1 .user_feedback_1 p:first-child {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0e0e11;
    text-align: left;
}

.survey_users_feedback_group_1 .survey_users_feedback_item_1 .user_feedback_1 .rate_stars_1 {
    display: flex;
    align-items: center;
}

.survey_users_feedback_group_1 .survey_users_feedback_item_1 .user_feedback_1 p:last-child {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #585757;
    text-align: left;
}

@media (max-width: 768px) {
    .survey_users_feedback_horizontal_bar {
        padding: 24px 24px 40px;
    }

    .survey_users_feedback_title {
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 24px;
    }

    .survey_users_feedback_group {
        gap: 16px;
        margin: 0;
    }

    .survey_users_feedback_group .survey_users_feedback_item {
        height: 127px;
        padding: 16px;
        display: block;
        justify-content: unset;
    }

    .survey_users_feedback_group .survey_users_feedback_item .feedback_content {
        justify-content: space-between;
    }

    .survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_avatar {
        width: 40px;
    }

    .survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_avatar img:first-child {
        width: 40px;
        height: 40px;
        border-radius: 30px;
    }

    .survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_avatar img:last-child {
        width: 8px;
        height: 8px;
        position: relative;
        left: 31px;
        top: -11px;
    }

    .survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback {
        width: 100%;
        padding: 0;
    }

    .survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback .name_title p {
        font-size: 14px;
        line-height: 18px;
    }

    .survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback .name_title .feedback_status_mobile {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback .name_title .feedback_status_mobile img {
        width: 12px;
        height: 12px;
    }

    .survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback .name_title .feedback_status_mobile p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: black;
    }

    .survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback p:last-child {
        font-size: 13px;
        line-height: 16px;
    }

    .survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback .rate_section p {
        font-size: 10px;
    }

    .survey_users_feedback_group .survey_users_feedback_item .feedback_content .user_feedback .rate_section .rate_stars {
        gap: 0;
        padding: 0;
    }

    .survey_users_feedback_group .survey_users_feedback_item .feedback_status_pc {
        display: none;
    }

    .survey_users_feedback_horizontal_bar_1 {
        margin: 130px 0 68px;
        width: unset;
        gap: 32px;
    }

    .survey_users_feedback_title_1 {
        font-weight: 600;
        font-size: 24px;
        width: unset;
        margin: 0;
    }
}

.survey_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 38px;
}

.survey_footer .social_icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.survey_footer p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: #585757;
}

@media (max-width: 768px) {
    .survey_footer {
        gap: 24px;
        padding-bottom: 69px;
    }
}
